<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="20" class="mat-elevation-z8 card-top">
        <span>Select Project</span>
        <mat-form-field class="example-full-width" appearance="outline" style="max-width: 95% !important;">
            <input type="text" name="jobSearch" placeholder="Project Name" aria-label="Project Name" id="jobSearch"
                matInput [matAutocomplete]="projectauto" required>
            <mat-autocomplete #projectauto="matAutocomplete">
                <mat-option *ngFor="let obj of PROJECTS" [value]="obj.value" (click)="onSelectionProjectChange(obj)">
                    <p class=" m-0">{{ obj.name | titlecase}}</p>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </mat-card>
    <mat-card fxFlex="20" class="mat-elevation-z4 card-top">
        <span>Select Sprint</span>
        <mat-form-field class="example-full-width" appearance="outline" style="max-width: 95% !important;">
            <input type="text" name="jobSearch" placeholder="Sprint Name" aria-label="Project Name" id="jobSearch"
                matInput [matAutocomplete]="sprintauto" required>
            <mat-autocomplete #sprintauto="matAutocomplete">
                <mat-option *ngFor="let obj of SPRINTS" [value]="obj.value" (click)="onSelectionSprintChange(obj)">
                    <p class=" m-0">{{ obj.name}}</p>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </mat-card>

    <mat-card fxFlex="10" class="mat-elevation-z4 card-top">
        <div style="text-align: start;" class="resources_count">{{totalResource}}</div>
        <div style="text-align: start;">Total Resources</div>
    </mat-card>

    <mat-card fxFlex="25" class="mat-elevation-z4 card-top">
        <div style="text-align: center; padding-bottom: 10px;">Story Points(Tickets)</div>
        <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
            <div style="text-align: end;">
                29 <br>
                <!-- {{completedStoryPoints}} <br> -->
                Completed
            </div>
            <h1 style="border-left: 2px solid black;height: 40px; opacity: 0.25;"> </h1>
            <div style="text-align: start;">
                <!-- {{plannedStoryPoints}} <br> -->
                45 <br>
                Planned
            </div>
        </div>
    </mat-card>

    <mat-card fxFlex="25" class="mat-elevation-z4 card-top">
        <!-- <div style="text-align: center; padding-bottom: 10px;">QA Issues-{{plannedQaIssues}}</div> -->
        <div style="text-align: center; padding-bottom: 10px;">Issues-34</div>
        <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
            <div style="text-align: end;">
                20 <br>
                Completed
            </div>
            <h1 style="border-left: 2px solid black;height: 40px; opacity: 0.25;"> </h1>
            <div style="text-align: start;">
                14 <br>
                Assigned
            </div>
        </div>
    </mat-card>
</div>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="50" class="mat-elevation-z4 card-bottom">
        <div id="chart-pie"></div>
    </mat-card>
    <mat-card fxFlex="50" class="mat-elevation-z4 card-bottom">
        <div id="bar-chart"></div>
    </mat-card>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards"
    style="margin-bottom: 20px !important">

    <mat-card fxFlex="100" class="mat-elevation-z4 card-bottom">
        <h3 style="padding: 12px 0 0 12px; display: flex">Task Summary by Resources</h3>
        <div style="overflow-x: hidden; height: 500px !important; padding: 0 12px 0 12px">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Resources Type Column -->
                <ng-container matColumnDef="resourceType">
                    <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Resource Type</th>
                    <td mat-cell *matCellDef="let element" style="width: 15%;" (click)="viewClick(element)">
                        {{element.resourceType ? element.resourceType : 'NA'}} </td>
                </ng-container>

                <!-- Resources Column -->
                <ng-container matColumnDef="resources_name">
                    <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Resources</th>
                    <td mat-cell *matCellDef="let element" style="width: 15%;" (click)="viewClick(element)">
                        {{element.resources_name}} </td>
                </ng-container>

                <!-- Bugs Column -->
                <ng-container matColumnDef="tickets">
                    <th mat-header-cell *matHeaderCellDef style="width: 8%;"> Tickets </th>
                    <td mat-cell *matCellDef="let element" style="width: 8%;" (click)="viewClick(element)">
                        {{element.tickets}}
                    </td>
                </ng-container>

                <!-- Completed Column -->
                <ng-container matColumnDef="completed">
                    <th mat-header-cell *matHeaderCellDef style="width: 8%;"> Completed </th>
                    <td mat-cell *matCellDef="let element" style="width: 8%;" (click)="viewClick(element)">
                        {{element.completed}} </td>
                </ng-container>

                <!-- In Progress Column -->
                <ng-container matColumnDef="in_progress">
                    <th mat-header-cell *matHeaderCellDef style="width: 8%;"> In Progress </th>
                    <td mat-cell *matCellDef="let element" style="width: 8%;" (click)="viewClick(element)">
                        {{element.in_progress}} </td>
                </ng-container>

                <!-- QA Person Column -->
                <ng-container matColumnDef="taskOverdue">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Task Overdue </th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;" (click)="viewClick(element)">
                        {{ element.taskOverdue ? 'Yes' : 'No' }}</td>
                </ng-container>

                <!-- % Completed Column -->
                <ng-container matColumnDef="percentage_completed">
                    <th mat-header-cell *matHeaderCellDef style="width: 26%;"> Percentage Completion (%) </th>
                    <td mat-cell *matCellDef="let element" style="width: 26%;" (click)="viewClick(element)">
                        <section class="example-section">
                            <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                                [value]="element.percentage_completed">
                            </mat-progress-bar>
                            <div> {{element.percentage_completed}}% </div>
                        </section>
                    </td>
                </ng-container>

                <!-- Reported Date Column -->
                <ng-container matColumnDef="dependencies">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Dependencies </th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;" (click)="viewClick(element)">
                        {{element.dependencies ? element.dependencies: 'NA'}} </td>
                </ng-container>

                <!-- Availability Column -->
                <ng-container matColumnDef="availability">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Availability </th>
                    <td mat-cell *matCellDef="let element" style="width: 10%;;" (click)="viewClick(element)">
                        {{element.availability ? element.availability: 'NA'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;"></tr>
            </table>
        </div>
    </mat-card>
</div>